@import 'colors';

header{
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    box-shadow: $shadow;
    @media screen and (max-width: $break-size) {
        max-height: 72px;
        min-height: 40px;
        padding: 10px 0;
    }
    .logo{
        align-self: center;
        margin: 10px 20px 0;
        @media screen and (max-width: $break-size) {
            align-self: center;
            margin: 5px 10px 0;
        }
        a>img{
            width: 120px;
            @media screen and (max-width: $break-size) {
                min-width: 60px;
                width: 100%;
            }
            
        }
    }
    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: center;
        max-width: 650px;
        width: 100%;
        border-radius: 25px;
        background-color: $lightgray;
        border: 7px solid $lightgray;
        @media screen and (max-width: $break-size) {

        }
        .search-icon>img{
            color: $contrast;
            @media screen and (max-width: $break-size) {
                min-width: 60px;
                width: 100%;
            }
        }
        form{
            display:flex;
            justify-content:stretch;
            flex:1;
            outline: none;
            @media screen and (max-width: $break-size) {
                align-items: center;
                justify-content: center;
            }
            input{
                flex:3;
                font-size: 1em;
                max-width: 600px;
                min-width: 50px;
                max-height: 1.5em;
                background-color: $lightgray;
                margin: 0 5px;
                border:none;
                @media screen and (max-width: $break-size) {
                    margin: 0 5px;
                    border: none;
                    width: 100%;
                    height: 1em;
                }
                &:focus{
                    box-shadow: 0 0 0 0 $lightgray;
                    border: none;
                    outline: $lightgray;
                }
                
                                
            }
            #type-of-search{
                    flex: 1;
                    display: block;
                    font-size: 1em;
                    font-family: $font;
                    color: #444;
                    line-height: 1.3;
                    padding: 0;
                    width: 100%;
                    max-width: 100%; 
                    box-sizing: border-box;
                    margin: 0;
                    border: none;
                    box-shadow: none;
                    border-radius: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: $lightgray;
                    margin: 0 5px;
                    @media screen and (max-width: $break-size) {
                        font-size: 0.65em;
                        line-height: 0.85em;
                    }
                   
                }
                &::-ms-expand {
                    display: none;
                }
                &:hover {
                    border-color:$lightgray;
                }
                &:focus {
                    border-color:$lightgray;
                    color: #222; 
                    box-shadow: 0 0 0 0 $lightgray;
                    outline: $lightgray;
                }
                option {
                    font-weight:normal;
                }
            
        }
    }
}