@import 'colors';

body {
    padding: 0;
    font-family:  $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $bg;
  }
a{
  text-decoration: none
}
body, html,#root{
  height: 100%;
  margin: 0
}

#root{
  display: flex;
  flex: 1;
  flex-direction: column
}