@import 'colors';

.pill{
    display: inline-flex;
    padding: 5px 10px;
    margin-top:5px;
    background-color: darken($contrast, 10);
    color: $text;
    text-shadow: none;
    border-radius: 15px;
    box-shadow: $shadow;
    font-size: 0.75em;
    font-weight: 500;
}